.event {
  margin-bottom: 30px;
  margin-right: 100px;
  border-radius: 10px;

  @media only screen and (max-width: 1300px) {
    margin-right: 75px;
  }
  @media only screen and (max-width: 1100px) {
    margin-right: 50px;
  }

  table {
    width: 100%;
  }

  &__heading {
    padding: 20px 30px;
    background-color: $tertiary-color;
    border-bottom: 1px solid rgba($primary-color, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    color: $primary-color;
    font-size: 16px;

    span {
      font-family: $font-primary-bold;
      @media only screen and (max-width: 1300px) {
       display: block;
      }
    }
  }

  &__name {}

  &__date {}

  &__action {}

  &__desc {
    background-color: rgb($primary-color, 0.1);
    padding: 20px 30px;
  }

  &__edit {}

  &__delete {}
}

.events {

  &__no-list {
    padding: 50px;
    background-color: rgba(161, 191, 217, 0.1);
    margin-right: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 1300px) {
      margin-right: 75px;
    }
    @media only screen and (max-width: 1100px) {
      margin-right: 50px;
    }

    h3 {
      font-size: 24px;
      font-family: $font-primary-medium;
      margin-bottom: 30px;
    }
  }
}
