.header {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba($tertiary-color, 0.4);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 20px;
}
