<div class="events">
  <h2>
    Events: {{userEvents.length}}
  </h2>
  <div class="events__list" *ngIf="userEvents.length > 0">
    <ul>
      <li *ngFor="let event of userEvents">
        <ev-event
          [event]="event"
          (emitDeleteEvent)="onDeleteEvent($event)"
        ></ev-event>
      </li>
    </ul>
  </div>
  <div class="events__no-list" *ngIf="userEvents.length < 1">
    <h3>Create an event</h3>
    <a href=""
       class="btn btn--primary"
        [routerLink]="'/homepage/create-event'">
      Create
    </a>

  </div>
</div>
