<div class="side-bar">
  <div class="side-bar__logo">
    <ev-logo></ev-logo>
  </div>
  <nav class="nav">
    <ul>
      <li>
        <a class="nav__action"
           href=""
           routerLink="events">
          <span class="nav__icon">
            <mat-icon aria-hidden="false">home</mat-icon>
          </span>
          <span class="nav__label">Events</span>
        </a>
      </li>
      <li>
        <a class="nav__action"
           href=""
           routerLink="create-event">
          <span class="nav__icon">
            <mat-icon aria-hidden="false">add</mat-icon>
          </span>
          <span class="nav__label">Create event</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
