@font-face {
font-family: 'icons-79a307';
font-weight: 700;
font-style: normal;
src: url('../../../../public/assets/fonts/icons/icons-79a307.eot');
src: url('../../../../public/assets/fonts/icons/icons-79a307.woff') format('woff'), url('../../../../public/assets/fonts/icons/icons-79a307.ttf') format('truetype'), url('../../../../public/assets/fonts/icons/icons-79a307.eot?#iefix') format('embedded-opentype');
}
.lp-icon[class^="lp-icon-"],
.lp-icon[class*=" lp-icon-"] {
display: inline-block;
font-family: 'icons-79a307' !important;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1;
text-transform: none;
}
$icons: ( close: '\EA01',
    loader-icon: '\EA02');
@each $name,
$icon in $icons {
.lp-icon-#{$name}:before {
content: $icon;
display: block;
speak: none;
}
}
