<div class="authentication">
  <div class="authentication__info">

    <div class="authentication__corporate">
      <div class="authentication__logo">
        <a href="#">
          <img src="../../../../assets/images/logo/wix-logo.webp" alt="">
        </a>
        <div class="authentication__slogan">Secure your trading...</div>
      </div>
      <div class="authentication__desc">
        We came with a new service to provide our customer a secure buying experience via our platform.
      </div>
    </div>

    <div class="authentication__side-actions">

    </div>
  </div>
  <div class="authentication__user-details">
    details
  </div>
</div>
