<div class="authentication">
  <div class="authentication__info">

    <div class="authentication__corporate">
      <ev-logo></ev-logo>
      <div class="authentication__desc">
        <blockquote>
          We came with a better <br>solution for <span class="primary-color">you..</span>
        </blockquote>
      </div>
      <div class="authentication__side-actions">
        <ev-create-action
          *ngIf="!isCreateModuleLoaded"
          (redirectToCreate)="redirectToCreate()"></ev-create-action>
        <ev-login-action
          *ngIf="isCreateModuleLoaded"
          (redirectToLogin)="redirectToLogin()"></ev-login-action>
      </div>
    </div>
  </div>
  <div class="authentication__user-details">
    <router-outlet></router-outlet>
  </div>
</div>
